@use "sass:color";

$background-color: #2D3047;
$text-color: #BFBCCB;
$highlight-color: #B399A2;

:root,[data-theme="dark"]{
    --bgimg:url('https://hart.moe/assets/img/pattern.png');
    --bg: #2D3047;
    --text: #BFBCCB;
    --highlight: #B399A2;
}

@font-face {
    font-family: 'Rose-Tinted';
    src: url('https://hart.moe/assets/fonts/Rose-Tinted_Regular_v1.1.ttf');
}

.index, html.spindrift, html.droplet {
    background-color: var(--bg);
    background-image: var(--bgimg);
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.mainpage {
    margin: 24px auto;
    max-width: 960px;
    background-color: var(--bg);
    padding: 16px;
    border: 1px solid var(--highlight);
}

body {
    color: var(--text);
    font-family: 'Rose-Tinted', sans-serif;
    font-size: 1rem;
    max-width: 960px;
    padding: 24px;
    background-color: var(--bg);
}

body.spindrift, body.droplet {
    border: 1px solid var(--highlight);
    margin: 24px auto;
    border-radius: 4px;
}

a {
    color: var(--highlight);
}

code {
    background: color.scale($background-color, $saturation: -45%);
    border: 1px solid color.scale($background-color, $saturation: -30%);
    border-radius: 8px;
    color: #ccc;
    padding: 0px 4px;
}
